body {
	background-color: #ff9966
}

h1, #errorHead{
	color: white;
	text-align: center;
	font: Arial;
	font-size: 120px;
}

fieldset{
	border: solid 2px #ffffff;
	margin-left: 35%;
	width: 25%;
	align-content: center
}

#legendText{
	border: dashed 2px #ffffff;
	color: white;
	font-size: 20px;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em 
}

#uploadAction{
	margin-left: 35%;
}

#successText{
	color: #39ac73;
	font-size: 20px
}

#forms{
  width: 40%;
  margin: 0 auto;
}

#table{
	margin-left: 5%;
	margin-right: 5%
}

.errors{
	color: red;
}

.home{
	display: inline-block;	
}

.hometext{
	color: white;
}
.example-1 .form-group{
	padding:1em;
	margin:1em
}
.example-1 input[type=file]{
	outline:0;
	opacity:0
}
.example-1 .label{
	width:120px;
	border:2px dashed red;
	border-radius:5px;
	display:block;
	padding:1.2em;
	transition:border 300ms ease;
	cursor:pointer;
	text-align:center
}
.example-1 .label i{
	display:block;
	font-size:42px;
	padding-bottom:16px
}
.example-1 .label i,.example-1 .label .title{
	color:white;
	transition:200ms color;
}
.example-1 .label:hover{
	border:2px solid white
}
.example-1 .label:hover i,.example-1 .label:hover .title{
	color:white
}

.inline{
	float: left;
}

.reportsHead{
	font: Arial;
	font-size: 90px;
	text-align: center;
}

.makeup {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
color: white;
border-radius: 10px;
border-spacing: 0;
text-align: center;
margin: auto;
}
.makeup th {
background: #BCEBDD;
color: red;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
.makeup th, .makeup td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
.makeup th:first-child, .makeup td:first-child {
text-align: left;
}
.makeup th:first-child {
border-top-left-radius: 10px;
}
.makeup th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
.makeup td {
padding: 10px 20px;
background: #66cc99;
}
.makeup tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
.makeup tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
.makeup tr td:last-child {
border-right: none
}
/* #F8E391 */
