<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CSV parser</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<div style="float: left">
		<img th:src="@{success.png}" />
		<p id="successText">Файл успешно загружен</p>
	</div>
	<div th:replace="~{common::home}"></div>
	<h1>Reports:</h1>
	<div id="forms">
		<form method="get" action="/report1" class="inline">
			<div class="example-1">
				<div class="form-group">
					<label class="label"> <i class="material-icons"></i> <span
						class="title">Top 15 sort by time</span> <input type="submit"
						value="lets go" style="opacity: 0">
					</label>
				</div>
			</div>
		</form>

		<form method="get" action="/report2" class="inline">
			<div class="example-1">
				<div class="form-group">
					<label class="label"> <i class="material-icons"></i> <span
						class="title">All gibdd records</span> <input type="submit"
						value="lets go" style="opacity: 0">
					</label>
				</div>
			</div>
		</form>

		<form method="get" action="/report3" class="inline">
			<div class="example-1">
				<div class="form-group">
					<label class="label"> <i class="material-icons"></i> <span
						class="title">Records with type 'answer'</span> <input type="submit"
						value="lets go" style="opacity: 0">
					</label>
				</div>
			</div>
		</form>
	</div>
</body>
</html>